*{
  margin: 0;
  padding: 0;
}

.App {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: gray;
}

.List {
  width: 100%;
  background: green;
  height: 400px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 110px;
}
.item_text{
  display: flex;
  gap: 50px;
}


.header {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 70px;
  background: rgb(173, 166, 166);
  color: white;
  font-size: 20px;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
  box-shadow: black;
  width: 75%;
  height: 60%;
  background: rgb(218, 225, 228);
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

.invalid-input {
  border: 3px solid red;
}
